<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.mybatis.dao.UserMapper">

    <select id="getOneById" resultType="com.hong.mybatis.bean.User">
        select id,name from t_user where id=#{id}
    </select>

    <!--嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则  -->
    <resultMap type="com.hong.mybatis.bean.User" id="MyUser">
        <id column="uid" property="id"/>
        <result column="name" property="name"/>
        <!--
            collection定义关联集合类型的属性的封装规则
            ofType:指定集合里面元素的类型
        -->
        <collection property="orderList" ofType="com.hong.mybatis.bean.Order">
            <!-- 定义这个集合中元素的封装规则 -->
            <id column="oid" property="id"/>
            <result column="order_num" property="orderNum"/>
            <result column="order_status" property="orderStatus"/>
            <result column="user_id" property="userId"/>
            <result column="order_content" property="orderContent"/>
        </collection>
    </resultMap>

    <select id="getOneByIdPlus" resultMap="MyUser">
		SELECT u.id uid,u.name,
				o.id oid,o.order_num,o.order_status,o.order_content,o.user_id
		FROM t_user u
		LEFT JOIN t_order o
		ON u.id=o.user_id
		WHERE u.id=#{id}
	</select>


    <!-- collection：分段查询 -->
    <resultMap type="com.hong.mybatis.bean.User" id="MyUserStep">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <collection property="orderList"
                    select="com.hong.mybatis.dao.OrderMapperPlus.getOrderListByUserId"
                    column="{userId=id}" fetchType="lazy">
        </collection>
    </resultMap>

    <select id="getOneByIdStep" resultMap="MyUserStep">
		select id,name from t_user where id=#{id}
	</select>

    <!-- 扩展：多列的值传递过去：
            将多列的值封装map传递；
            column="{key1=column1,key2=column2}"
        fetchType="lazy"：表示使用延迟加载；
                - lazy：延迟
                - eager：立即
     -->
</mapper>
